main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

/* ===== Aréa do Game ===== */
#game-container {
  width: 100%;
  display: flex;
  flex-direction: wrap;
  gap: 16px;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 12px;
  align-items: flex-start;
}
@media (max-width: 920px) {
  #game-container {
    flex-direction: column;
    max-width: 480px;
    margin-inline: auto;
  }
}

#game-container > * {
  min-width: 0;
}
